body {
    font-family: 'Cuprum', "Arial", sans-serif;
    background: #f3f7f8;
    font-size: 17px;
}

.main-navigation {
    background-color: #293449;
    height: 42px;
}

.main-header-logo, .main-footer-logo {
    background-color: #ee3643;
}

.log h3 {
    color: #e9292a;
    line-height: 17px;
}

.log p {
    line-height: 14px;
}

.site-navigation {
    background-color: #32425c;
    display: center;
    width: 940px;
}

.main-navigation p {
    color: #ef5c67;
    line-height: 17px;
}

.main-navigation a{
    color: #f3f7f8;
} 

.user-regist {
    font-size: 21px;
    color: black;
}

.site-navigation a{
    color: #e4e9ed;
    line-height: 18px;
}

.site-navigation a:hover{
    background-color: #293449;
}

.site-navigation a:focus{
    color: #8e939c;
    background-color: #1d2739;
}

.shop-navigation a {
    color: #ffd180;
}

.main-navigation1 {
    background-color: #32425c;
 }
 
 .main-navigation1 p {
     line-height: 16px;
 }

.user-listen{
    background-color: #293449;
}

.user-listen a {
    color: #ffd180;
}

.site ul,
.site a{
    list-style-type: none;
    text-decoration: none;
}

.user-regist{
    list-style-type: none;
}

.user-listen a{
    list-style-type: none;
    text-decoration: none;
}

.user-listen a:focus{
    color: #c73644;
}

.company ul,
.company a{
    list-style-type: none;
    text-decoration: none;
}

.main-navigation1 a,
.main-navigation1 ul{
    list-style-type: none;
    text-decoration: none;
}

.log a{
    list-style-type: none;
    text-decoration: none;
}

.user-regist a:hover{
    color: #ee3643;
}

.user-regist a:focus{
    color: #c7c7c7;
}

.footer-logo-id a:focus {
    color: #ee3643;;
}

.user-regist a:focus{
    color: #b2b2b2;
}

.site-navigation1 a{
    color: #e4e9ed;
    line-height: 18px;
}

.site-navigation1 a:focus{
    color: #929caa;
}

.shop-navigation a:focus{
    color: #998a6e;
}